<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- The deliberate failing test is excluded from the default run so that a green
         suite means "everything claimed to work, works". Run it with:
             composer test:known-failure
         See REJECTED.md, "The failing test". -->
    <groups>
        <exclude>
            <group>known-failure</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
